<!DOCTYPE html>
<html>
<head>
<style>

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Word Frequency Table</h2>

<table>
  <tr>
    <th>Word Length</th>
    <th>Count</th>
  </tr>
  <tr>
    <td><%- l1 %></td>
    <td><%- n1 %></td>
  </tr>
  <tr>
    <td><%- l2 %></td>
    <td><%- n2 %></td>
  </tr>
  <tr>
    <td><%- l3 %></td>
    <td><%- n3 %></td>
  </tr>
  <tr>
    <td><%- l4 %></td>
    <td><%- n4 %></td>
  </tr>
  <tr>
    <td><%- l5 %></td>
    <td><%- n5 %></td>
  </tr>
  <tr>
    <td><%- l6 %></td>
    <td><%- n6 %></td>
  </tr>
  <tr>
    <td><%- l7 %></td>
    <td><%- n7 %></td>
  </tr>
  <tr>
    <td><%- l8 %></td>
    <td><%- n8 %></td>
  </tr>
  <tr>
    <td><%- l9 %></td>
    <td><%- n9 %></td>
  </tr>
  <tr>
    <td><%- l10 %></td>
    <td><%- n10 %></td>
  </tr>
  
</table>

</body>
</html>

